@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

.color {
    display:inline-block;
    width:3rem;
    height:3rem;
}

#can {
    cursor: url("../dot-9x9.png"), pointer;
}